<div class="holder">
  <div class="name">Kelley Stephens</div>
  <div class="line"></div>
  <div class="title">Software Engineer</div>
</div>

<a href="http://www.freepik.com/free-vector/abstract-background-of-paint_897445.htm" class="bkgd-credit">
  Designed by Freepik
</a>
