@import url('//fonts.googleapis.com/css?family=Over+the+Rainbow');
@import url('//fonts.googleapis.com/css?family=Raleway:300');

// Index
.holder {
  width: 60%;
  margin: auto;
  padding-top: 15%;
  @media only screen and (max-width: 934px) {
    width: 90%;
  }
}

.name {
  text-align: center;
  font-family: 'Over the Rainbow', cursive;
  font-size: 5.5em;
  color: #C995A2;
}

.line {
  border: 2px solid #235C7E;
}

.title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5em;
  color: #C995A2;
}

// About
.about, .resume, .contact {
  font-family: 'Raleway', sans-serif;
  color: #C995A2;
}
// Resume
// Contact
